/* 
    Document   : main
    Author     : babel
*/

root { 
    display: block;
}

html{
    background:url('../img/background.jpg') no-repeat center center;
    min-height:100%;
    min-width: 100%;
    background-size:cover;
}

body{
    min-height:100%;
    background-color: rgba(255,255,255, 0) !important;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding:30px;
    border-radius: 10px;
}

.admin-link-img {
     width: 120px;
}

.logo {
    width: 80px;
    /*float: left;*/
}

img {
    margin: 4px;
}

.header h1 {
    color: #C85555;
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    font-size: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.menu h3 {
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    color: #398716;
}

.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active {
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display:block;
    color: #C85555;
}

.menu a:link {color:#FF0000;}      /* unvisited link */
.menu a:visited {color:#006633;}  /* visited link */
.menu a:hover {color:#FFFFFF; background-color: #C85555;;}  /* mouse over link */
.menu a:active {color:#cc3300;}  /* selected link */ 

.menu ul {
    display: block;
}
.menu li {
    list-style: none;
}