/* 
    Document   : main
    Author     : babel
*/

root { 
    display: block;
}

html{
    background:url('../img/background.jpg') no-repeat center center;
    min-height:100%;
    min-width: 100%;
    background-size:cover;
}

body{
    min-height:100%;
    background-color: rgba(255,255,255, 0) !important;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding:30px;
    border-radius: 10px;
}

.admin-link-img {
    width: 120px;
    margin-left: 40px;
}

.logo {
    width: 80px;
    /*float: left;*/
}

img {
    margin: 4px;
}

.header h1 {
    color: #C85555;
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    font-size: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.admin .header h1 {
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    font-size: 33px;
}

.menu h3 {
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    color: #398716;
}

.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active {
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display:block;
    color: #C85555;
}

.menu a:link {color:#FF0000;}      /* unvisited link */
.menu a:visited {color:#006633;}  /* visited link */
.menu a:hover {color:#FFFFFF; background-color: #C85555;}  /* mouse over link */
.menu a:active {color:#006633;}  /* selected link */ 

.menu ul {
    display: block;
}
.menu li {
    list-style: none;
}

.footer strong {
    font-size: 17px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin input[type="submit"]{
    margin-right: 95px;
}

.container.admin-login {
    width: 350px;
}

.container.admin-login h3{
    font-family: "Fredoka One","lucida grande",tahoma,sans-serif;
    width: 350px;
}

.cards-fall-img {
    width:200px;
}